.top{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 8px 16px;
    background-color: black;
}
#cardtop::after{
    content: "";
    display: table;
    clear: both;
}

#cardtop a{
    text-decoration: none;
    padding: 12px 24px;
    display: block; 
    float: left;
    color: white;
    width: 25%;
    text-align: center;
   
}

    
    
#cardtop a:hover{
    background-color: #ccc;
    color: black;
}
.menu-img{
    
        
        min-height: 530px;
        background-image: url('images/coffeehouse.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
       
  
}
.relative{
    position: relative;
}
.filter{
    filter: grayscale(50%);
}
.bottomleft{
    bottom: 0;
    left:0;
    position:absolute;
    margin: 16px 24px;

   
}
.tag1{
    color: white;
    background-color:black ;
    padding: 4px 8px;
}
.bottomright{
    bottom: 0;
    right:0;
    margin: 12px 24px;
    padding: 2px;
    position:absolute;
    color: white;
}
.center{
    left: 50%;
    top: 50%;
    position: absolute;
    text-align: center;
    transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);
    line-height: 1.5;
    color:white;
}
.tag3{
    font-size: 90px;
}
.content{
   padding: 0 16px;
}
.about-container{ /*le contenu de about est contenu dans 50% de l'affichage*/
    max-width:700px; 
    margin-left: auto; margin-right: auto;
}
.about-container h4{ /*Centrez et decalez*/
    text-align: center;
    letter-spacing: 4px;
    padding: 64px 0;
    font-size: 15px;

}
#title-about{
    background-color: black;
    color: white;
    padding: 4px 8px;
    display: inline-block;
}
.about-container p{
   line-height: 1.5;
   font-size: 18px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    }
#page{
    background-color: #fdf5e6!important;
    filter: grayscale(75%);
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{font-family: "Inconsolata", sans-serif;}
#citation{
    border-left: 4px solid #ccc;
    padding: 16px;
    margin: 16px 0;
    background-color: #f1f1f1;
}
#citation p{
    font-style: italic;
}
#img-about{
    padding: 16px 0;
}
.menu-container{
    max-width:700px; 
    margin-left: auto; margin-right: auto;
}
.menu-container h4{
    text-align: center;
    letter-spacing: 4px;
    padding: 64px 0;
    font-size: 15px;
}
#menu-title{
    background-color: black;
    color: white;
    padding: 4px 8px;
    display: inline-block; 
}
.button-menu{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
    margin-bottom: 1px;
   
}
.button-menu a:hover{
    background-color: #616161 !important;
}
.button-item{
    float: left;
    width: 50%;
    padding: 8px;
    background-color: #fdf5e6!important;
    text-decoration: none;
}
.button-menu::after{
    content: "";
    display: table;
    clear: both;
}
.text-menu{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #fdf5e6!important;
    padding: 32px 16px;
    margin-bottom:24px ;
}
.text-menu p{
color: #757575;
padding: 8px 0;
}

.where-container{
    max-width:700px; 
    margin-left: auto; margin-right: auto;
}
.where-container h4{
    text-align: center;
    letter-spacing: 4px;
    padding: 64px 0;
    font-size: 15px;
}
.where-container p{
    line-height: 1.5;
    font-size: 18px;
}
.where-container img{
    padding: 16px 0;
}
#title-where{
    background-color: black;
    color: white;
    padding: 4px 8px;
    display: inline-block; 
}
#word{
    background-color: black;
    color: white;
    padding: 4px 8px;
    display: inline;
}
input[type=text],input[type=datetime-local]{
border: 1px solid #ccc;
padding: 21px 8px;
width: 100%;
margin: 8px 0;
font-size: 15px;
}
input[type=submit]{
    cursor: pointer;
    padding: 12px 16px;
    margin: 8px 0;
    color: white;
    background-color: black;
    text-decoration: none;
    text-align: center;
    border: none;
}
input[type=submit]:hover{
    background-color: #ccc;
    color: black;
}
footer{
    padding: 64px;
    background-color:#f1f1f1;
    text-align: center;
    margin-top: 24px;
}
footer a{
    color: black;
}
footer a:hover{
    color: green;
}
@media only screen and (max-width:600px){
    .bottomleft{
        display: none;
    }
    #cardtop a{
        width: 25%;
    }
}
@media only screen and (max-width:224px){
    
    #cardtop a{
        width: 24%;
    }
}